
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: "Fira Sans", serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

/* shared style  */
.btn-1{
    padding: 16px 32px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: white;
    cursor: pointer;
}

.btn-2{
    padding: 12px 24px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 106, 80);
    font-family: "Fira Sans", serif;
    line-height: 22px;
    border: 1px solid rgb(0, 106, 80);
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    padding: 15px 0 ;    
}

.card-peragraph{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.card-btn{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(84, 144, 245);
    cursor: pointer;
}

.pillars-card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    padding: 15px 0 ;    
}

.pillars-card-peragraph{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

/* nevication menu start  */

#nev-container{
    height: 100px;
}

#nev-container .nev-contant{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    }

#nev-container ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
}
#nev-container ul{
    list-style: none;
    
}

/* nevication menu end  */

/* banner style start  */

#banner-container .banner-contant{
    width: 1280px;
    height: 560px;
    border: none;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner-container .banner-contant .left{
    padding-left: 60px;
}

#banner-container .banner-contant .right{
    padding-right: 60px;
}

#banner-container .banner-contant p{
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}

#banner-container .banner-contant .bennar-title{
    font-family: "Fira Sans", serif;
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    padding: 16px 0 24px;
}
/* banner style end  */

/* pillars sesction style start  */

#pillars{
    margin-top: 65px;
}
#pillars .pillars-container{
    width: 1280px;
    margin: 0 auto;
}

#pillars .pillars-container h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 19px;
    font-family: "Fira Sans", serif;
}

#pollars .pillars-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    
}

#pillars .pillars-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}


#pillars .pillars-card-content .pil-card1, .pil-card2, .pil-card3, .pil-card4{
    width: 300px;
    height: 240px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
}

/* pillars section style end  */

/* vision card style start  */

#vision{
    margin: 65px 0;
}
#vision .vision-container{
    width: 1280px;
    margin: 0 auto;
}

#vision .vision-container h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 19px;
    font-family: "Fira Sans", serif;
}

#vision .vision-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    
}

#vision .vision-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#vision .vision-card-content .vis-card1, .vis-card2, .vis-card3{
    width: 425px;
    height: 260px;
    border: none;
    border-radius: 16px;
    padding: 32px;
    font-family: "Fira Sans", serif;
}

#vision .vision-card-content .vis-card1{
    background: rgba(84, 144, 245, 0.2);
}

#vision .vision-card-content .vis-card1 h1{
    background: rgba(84, 144, 245, 0.2);
}
#vision .vision-card-content .vis-card2{
    background: rgb(198, 228, 214);
}

#vision .vision-card-content .vis-card3{
    background: rgb(247, 235, 207);
}

/* vission card style end  */

