
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: "Fira Sans", serif; */

*{
    margin: 0;
    padding: 0;
}


/* shared style  */
.btn-1{
    padding: 16px 32px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    color: white;
}

.btn-2{
    padding: 12px 24px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 106, 80);
    font-family: "Fira Sans", serif;
    line-height: 22px;
    border: 1px solid rgb(0, 106, 80);
}

/* nevication menu start  */

#nev-container{
    height: 100px;
}

#nev-container .nev-contant{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    }

#nev-container ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
}
#nev-container ul{
    list-style: none;
    
}

/* nevication menu end  */

/* banner style start  */
