
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: "Fira Sans", serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

/* shared style  */

.btn-1{
    padding: 16px 32px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: white;
    cursor: pointer;
}

.btn-1:hover {background-color: #1ea823}
.btn-1:active {
  background-color: red;
  box-shadow: 0 6px #525151;
  transform: translateY(5px);
}

.btn-2{
    padding: 12px 24px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 106, 80);
    font-family: "Fira Sans", serif;
    line-height: 22px;
    border: 1px solid rgb(0, 106, 80);
}
.btn-2:hover{background-color: #dedede} 

.pillars-card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    padding: 15px 0 ;    
}

.pillars-card-peragraph{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 38px;
margin-bottom: 19px;
font-family: "Fira Sans", serif;
}

.peragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
}

.news-img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.time-date{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    padding: 12px 0;
}
/* nevication menu start  */

#nev-container{
    height: 100px;
}

#nev-container .nev-contant{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    }

#nev-container ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
}
#nev-container ul{
    list-style: none;
    
}

/* nevication menu end  */

/* banner style start  */

#banner-container .banner-contant{
    width: 1280px;
    height: 560px;
    border: none;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner-container .banner-contant .left{
    padding-left: 60px;
}

#banner-container .banner-contant .right{
    padding-right: 60px;
}

#banner-container .banner-contant p{
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}

#banner-container .banner-contant .bennar-title{
    font-family: "Fira Sans", serif;
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    padding: 16px 0 24px;
}
/* banner style end  */

/* pillars sesction style start  */

#pillars{
    margin-top: 65px;
}
#pillars .pillars-container{
    width: 1280px;
    margin: 0 auto;
}
#pillars .pillars-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
#pillars .pillars-card-content .pil-card1, .pil-card2, .pil-card3, .pil-card4{
    width: 300px;
    height: 240px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
}

/* pillars section style end  */

/* vision card style start  */

#vision{
    margin: 65px 0;
}
.card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    padding: 15px 0 ;    
}

.card-peragraph{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.card-btn1{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 144, 245);
    cursor: pointer;
}
.card-btn1:hover {background-color:rgb(54, 105, 194)}

.card-btn2{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 161, 92);
    cursor: pointer;
}
.card-btn2:hover {background-color:rgb(43, 128, 74)}

.card-btn3{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 194, 57);
    cursor: pointer;
}
.card-btn3:hover {background-color:rgb(213, 163, 48)}

#vision .vision-container{
    width: 1280px;
    margin: 0 auto;
}

#vision .vision-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#vision .vision-card-content .vis-card1, .vis-card2, .vis-card3{
    width: 425px;
    height: 260px;
    border: none;
    border-radius: 16px;
    padding: 32px;
    font-family: "Fira Sans", serif;
}

#vision .vision-card-content .vis-card1{
    background: rgba(84, 144, 245, 0.2);
}

#vision .vision-card-content .vis-card1 h1{
    background: rgba(84, 144, 245, 0.2);
}
#vision .vision-card-content .vis-card2{
    background: rgb(198, 228, 214);
}

#vision .vision-card-content .vis-card3{
    background: rgb(247, 235, 207);
}

/* vission card style end  */

/* recent news style start */

#recent-news .news-container{
    width: 1280px;
    margin: 0 auto;
}

#recent-news .news-container .news-card{
    width: 1280px;
    height: 400px;
    border: none;
    margin: 24px 0;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.card-content{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;
}

/* recent news style end  */

/* donet senction style start  */
#donet .donet-container{
    width: 1280px;
    margin: 80px auto;
    
}

#donet .donet-container .donet-contant{
    padding: 0 100px;
    
}

#donet .donet-contant{
    text-align: center;
}

#donet .donet-in-container{
    width:825px ;
    height: 60px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);

}
#donet .donet-container .donet-contant input{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
       
}
#donet input::placeholder{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Fira Sans", serif;
    text-align: center;

}

#donet .donet-container .donet-contant .btn-tk {
    width: 190px;
    height: 102px;
    margin: 0 19px;
    font-size:32px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* donet style end  */

/* newsletter style start  */

#newsletter .newsletter-container{
    width: 1280px;
    height: 395px;
    margin: 0 auto;
    margin-bottom: 80px;
    border: none;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter .newslatter-contant{
    width: 750px;
    height: 235px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#newsletter .newslatter-contant> form{
    display: flex;
    padding: 0px 0px 24px 0px;
     }

#newsletter form>input{
    width: 600px;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0;
    text-align: center;
}

#newsletter form>button {
    background-color:rgb(0, 106, 80);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

#newsletter button:hover {
    background-color: #0e5738;
}

#newsletter input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding-left: 30px ;
    font-family: "Fira Sans", serif;
    color: rgba(14, 14, 14, 0.3);
}

/* newsletter style end  */

.fotter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
    gap: 24px;
}

.fotter hr{
    width: 1122px;
    /* margin: 35px 0;
    text-align: center; */
}
.fotter .fotter-icon{
    display: flex;
    gap: 20px;
}

.fotter h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: "Fira Sans", serif;
}